 <!DOCTYPE RCC><RCC version="1.0">
 <qresource>
        <file>aceslogo.png</file>
        <file>cybergamelogo.png</file>
        <file>funstreamlogo.png</file>
        <file>gamerstvlogo.png</file>
        <file>gipsyteamlogo.png</file>
        <file>goodgamelogo.png</file>
        <file>hitboxlogo.png</file>
        <file>livecodinglogo.png</file>
        <file>realltvlogo.png</file>
        <file>sc2tvlogo.png</file>
        <file>streamboxlogo.png</file>
        <file>twitchlogo.png</file>
        <file>youtubelogo.png</file>
        <file>broico.ico</file>
        <file>default.html</file>
 </qresource>
 </RCC>
